// Custom styles.

  // 行内代码块的自定义样式 
  code {
      color: #e74c3c;
      background: rgba(255, 0, 0, 0.1);
      margin: 2px;
      border: 1px solid #d6d6d6;
  }

  // 自定义的文章摘要图片样式

  //图片外部的容器方框 
  .out-img-topic {
    display: block;
    max-height:300px;
    margin-bottom: 24px;
    overflow: hidden;
  }
  //图片
  img.img-topic {
    display: block ;
    margin-left: .7em;
    margin-right: .7em;
    padding: 0;
    float: right;
    clear: right;
    width: 100%;
  }